button {

    font-size: 16px;
    background-color: seagreen;
    padding: 15px 30px;
    color: seashell;
    width: 100px;
    align-items: center;
    position: relative;
    justify-content: center;
}


.count{

    align-items: center;
    font-size: 50px;
    padding: 15px 30px;
    position: relative;
    justify-content: center;
}



.reset {

    font-size: 16px;
    background-color: red;
    width: 200px;
    
}


body {

    padding: 15px 30px;
}